.img {
    max-width: 256px;
    max-height: 256px;
    width: auto;
    height: auto;
    border-radius: 16px;
}

.btnUpdate {
    padding: 4px;
}

.link {
    text-decoration: none;
    color: black;
}

#ContentPlaceHolder1_txtSearch {
    border-radius: 5px;
    border: solid 1px;
    padding-left: 10px;
}

#ContentPlaceHolder1_btnClear {
    border-radius: 50%;
    border: solid 1px;
    margin-left: 2px;
    margin-right: 2px;
    color: #ffffff;
    background: #ff1313;
}

#ContentPlaceHolder1_btnSearch {
    border-radius: 18px;
    border: solid 1px;
    color: #ffffff;
    background: #8b00c3;
}