.img {
	width: 420px;
	height: 420px;
}

.ddl {
	font-size: large;
	padding: 8px;
}

.body {
	margin: 0;
	padding-top: 50px;
	display: grid;
	place-content: center;
}

input {
	padding: 8px 12px;
}

.header {
	width: 30%;
	height: 20%;
	font-weight: bold;
}

.btnUpdate, .btnUpdateImg {
	padding: 5px 30px;
	border-radius: 18px;
	background-color: #8b00c3;
	color: white;
}
