.titles {
    text-align: left;
    padding-left: 12px;
    font-size: x-large;
}

table, tr, td {
    border: solid black 1px;
}

table {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

tr {
    background-color: #474747;
    color: white;
    height: 48px;
}

td {
    background-color: white;
    color: black;
    height: 48px;
}

.addressBox {
    width: 80%;
    height: 60%;
    font-size: medium;
    text-align: left;
    padding-left: 12px;
}

.cardNoBox {
    width: 80%;
    height: 60%;
    font-size: medium;
    text-align: left;
    padding-left: 12px;
}

.ddlBank {
    width: 82%;
    height: 60%;
    font-size: large;
    text-align: left;
    padding-left: 12px;
}

.fieldHead {
    font-weight: bold;
    text-align: left;
    padding-left: 52px;
    font-size: large;
}

.cancelBtn {
    padding: 5px 30px;
    border-radius: 18px;
    background-color: red;
    color: white;
    font-size: large;
}

.checkoutBtn {
    padding: 5px 30px;
    border-radius: 18px;
    background-color: lawngreen;
    font-size: large;
    font-weight: bold;
}

.field {
    padding-left: 48px;
    text-align: left;
    font-size: medium;
}


