.gv {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.btnVOD {
    
    font-size: medium;
    padding: 5px 30px;
    border-radius: 18px;
    background-color: #8b00c3;
    color: white;
}

.myOrders {
    margin-top: 30px;
}
